/* You can add global styles to this file, and also import other style files */

@import '../node_modules/swiper/swiper-bundle.min.css';
@font-face {
    font-family: 'Oxygen', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700;600;500&display=swap');
}

html,
body {
    height: 100%;
    h1,
    h4,
    h2,
    h5,
    h6,
    h3 {
        letter-spacing: 2px;
        font-family: 'Oxygen', sans-serif;
    }
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.btn-custom {
    width: 12rem;
    height: 3.5rem;
    border: 0px;
    border-radius: 8px;
    background-color: #987bff;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    transition: 0.4s;
    &:hover {
        background-color: #6955af;
    }
}

.toggler {
    margin: auto;
    background-color: rgba(189, 189, 189, 0.445);
    padding: 0.4rem;
    font-size: 0.4rem;
    cursor: pointer;
    align-items: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
}

.logo {
    width: 7rem;
    margin: auto;
}